html, body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 17px;
    background: #fffcf7;
    color: #232322;
    padding: 0 1.2rem;
}

h1 {
    line-height: 2.4rem;
}
h2 {
    line-height: 2.0rem;
}

h1, h2, h3, h4, h5, h6 {
    clear both;
}

blockquote {
    color: #666;
    border-left: 2pt solid #dc4623;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 20px;
}

/*
lazy hack, apply to header, main, & footer
*/
.width {
    min-width: 300px;
    max-width: 1024px;
}
#header {
    color: #fff9ed;
    margin: 1em auto;
    color: #232322;
}
#header a {
    color: #232322;
    text-decoration: none;
}

#logo {
    width: 100%;
    margin: 0 0 0.2em 0;
}
#logo a {
    font-size: 2.5rem;
    font-weight: bold;
}
/* header decoration */
.hd {
    width: 100%;
    margin: 0 auto;
    font-size: 2px;
    padding: 0;
}

.red {
    background: #ff0000;
    border: 1px solid #ff0000;
}
.orange {
    background: #ff8300;
    border: 1px solid #ff8300;
}
.yellow {
    background: #fff600;
    border: 1px solid #fff600;
}
.green {
    background: #00af1a;
    border: 1px solid #00af1a;
}
.blue {
    background: #0d05ff;
    border: 1px solid #0d05ff;
}
.purple {
    background: #6801ad;
    border: 1px solid #6801ad;
}

#footer {
    clear: both;
    margin: 0 auto;
    padding: 1em 0 2em 0;
    border-top: 1px solid #6801ad;
}
#footer a {
    color: #232322;
    text-decoration: none;
}


#divider {
    width: 100%;
    margin: 0 auto;
}

#menu {
    width: 100%;
    margin: 0.5em auto;
}
#menu a {
    text-decoration: none;
}
#menu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em 0 0;
}

#main {
    margin: 0 auto;
    padding: 0.5rem 0;
    line-height: 1.5rem;
}

#main img {
    display:block;
    margin:auto;
    border-top: 1.2pt solid #eddfc9;
    border-bottom: 1.2pt solid #eddfc9;
    padding: 0.75em 1.25em;
    max-width: 85%;
}

#main img.left {
    float: left;
    margin: 1.0em 1.5em 1.0em 0;
    max-width: 55%;
}

#main img.right {
    float: right;
    margin: 1.0em 0 1.0em 1.5em;
    max-width: 55%;
}

